
h1 {
	color: white ;
}
.headline {
	font-family: Georgia;
	color: white ;
	text-align: center;
	padding-bottom: 20px;
}

p {
	line-height: 19px
}


a {
	text-decoration: none;
}

a:hover {
   text-decoration: underline; :none
}

.profile {
	margin: 0 auto;
	// text-align: center;
	height: 390px;
	padding-top: 30px;	
	margin-bottom: 30px;
}

/*
 * ==== diamond 
 */

.diamond, .dia {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.diamond {
  transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.diamond .dia {
  width: 380px;
  height: 380px;
  transform: rotate(-45deg);
}
.diamond img {
  width: 100%;
  height: auto;
}

.diamond:hover {
    opacity: .7;
}



.projects {
    margin-left: 10%;
    // text-align: center;
    width: 90%;
    list-style: none;
    padding-top: 40px;
	// text-align: center;
}

.project {
    display: inline;
    float: left;
}

#project-title{
	text-align: center;
    color: white;

}
.projects figure{
    margin-right: 25px;
    margin-left: 25px;
}

.projects figcaption{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.2em;
}

.project-img {
    width: 300px;
    height: 200px;
}



