.nav-li {
	margin-right: 20px;	
    font-size: 1.15em;
}
#navbar {
	background-color: #0A3264;
	margin:0px auto;
	margin-bottom: 20px;
	z-index: -1;
}
.pages {
	color: white;
}
.spaces {
	margin-top: 15px;
	margin-right: 50px;
	margin-left: 50px;
}
.social-buttons {
	margin-top: 5px;
	margin-bottom: 5px;
}

.social{
	z-index: 5;
    float: right;
	display: block;
	// position:fixed;
    height:50px;
    // margin-right: 60px;
    // background-color:#92a9ce;
    // bottom:0px;
    // left:0px;
    right:0px;
    // margin-bottom:0px;
    margin-top: 2px;
}
#adminLogin{
    margin-top: 10px; 
    float: right;  
    color: white;
    margin-right: 20px; 
    height: 2em;
}   
