body {
	background-color: #7EA0BC;
}

.login-img{
	width: 100px;
	height: 100px;

}

#adminImg {
	float: left;
	margin-left: 80px;
	margin-right: 15px;
}

#guestImg {
	float: right;
	margin-left: 15px;
	margin-right: 80px;
}

#loginImageContainer {
	text-align: center;
}
